version: '3.8'

services:
  admin:
    build: .
    container_name: qting-admin-app
    restart: unless-stopped
    ports:
      - "8080:80"
    volumes:
      - ./:/app
      - /app/node_modules
    environment:
      - NODE_ENV=development
    networks:
      - qting

networks:
  qting:
    external: true
